#imgStyle {
    width: 64px;
}

#imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#titreStyle {
    font-weight: 700;

}

#cycleStyle {
    text-align: center;
    font-style: oblique;
    font-size: x-large;
}

/* #cardid {
    width: 136%;
    background-color: aliceblue;
    transition-duration: 3s;
    transition-timing-function: ease;
}

#cardid:hover {
    width: 100%;
} */