<div class="row " *ngIf="this.config.longue=='FR'" id="cardid">
    <div class="col-3" id="imgContainer">
        <img src="myImages/educationImage.png" alt="" srcset="" id="imgStyle">
    </div>
    <div class="col-9">
        <p id="cycleStyle">{{this.education.cycle}}</p>
        <p id="titreStyle">{{this.education.title}}</p>
        <p>{{this.education.date}}</p>
    </div>
</div>

<div class="row " *ngIf="this.config.longue=='EN'">
    <div class="col-3" id="imgContainer">
        <img src="myImages/educationImage.png" alt="" srcset="" id="imgStyle">
    </div>
    <div class="col-9">
        <p id="cycleStyle">{{this.education.cycle_anglais}}</p>
        <p id="titreStyle">{{this.education.titre_anglais}}</p>
        <p>{{this.education.date}}</p>
    </div>
</div>

<div class="row " *ngIf="this.config.longue=='Ar'">
    <div class="col-3" id="imgContainer">
        <img src="myImages/educationImage.png" alt="" srcset="" id="imgStyle">
    </div>
    <div class="col-9">
        <p id="cycleStyle">{{this.education.cycle_arabe}}</p>
        <p id="titreStyle">{{this.education.titre_arabe}}</p>
        <p>{{this.education.date}}</p>
    </div>
</div>