.rowid {
    background-color: aqua;
    height: 350px;
}

.sep {
    background-color: black;
    width: 10px;
    height: -webkit-fill-available;
}

.sepContainer {
    display: flex;
    justify-content: center;

}

.ballon {
    background-color: #6c8d8d;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 138px;
    margin-left: -21px;
}