.cartEducation {
    width: 100%;
    height: 80%;
    background-color: azure;
    border-radius: 40px;
    margin-left: 25px;
    margin-top: 39px;
}

.titleCartEducation {
    height: 25%;
}

.educationImg {
    width: 100%;
    border-radius: 50%;
    margin-top: 10px;
}

.educationTitle {
    text-align: center;
    margin-top: 10px;
    font-family: serif;
    font-size: 18px;
}

.educationSpe {
    font-size: 16px;
    margin-top: -6px;
    text-align: center;
    color: #9b8e8e;
}